.desktop-navigation {
  .desktop-menu-container {
    // 한글 텍스트에 대한 스타일
    :lang(ko) {
      font-family: "malgun-gothic", sans-serif; // Malgun Gothic 폰트 적용
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      display: block;
      text-align: left;
      text-decoration: none;
      text-transform: none;
      letter-spacing: 0;
      text-wrap: nowrap;
      transition-behavior: normal;
      white-space-collapse: collapse;
    }
    ul.menu {
      color: #696969;
      display: flex;
      column-gap: 20px;

      .menu-item a {
        font-family: "copperplate-gothic", sans-serif; // Copperplate Gothic 폰트 적용
      }

      & > li.menu-item {
        position: relative;

        &:hover {
          & > a {
            color: $main_purple;
          }
        }

        & > a {
          color: black;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: 26px;
          padding: 4px 0;
          position: relative;
          text-align: left;
          text-decoration: none;
        }

        // 서브 메뉴
        ul.sub-menu {
          position: absolute;
          left: 0;
          max-width: 20em;
          min-width: 160px;
          // padding: 13px 0 16px;
          padding: 0;
          text-align: left;
          top: calc(100%);
          width: auto;
          opacity: 0;
          visibility: hidden;
          transform: translateY(20px);
          transition: all 0.3s;

          background-color: #ffffff;
          border: 1px solid #ededed;
          border-image: none 100% 1 0 stretch;
          box-shadow: rgba(0, 0, 0, 0.12) 0 0 30px;
          color: #696969;

          a {
            color: black;
            font-size: 15px;
            line-height: 1.39;
            font-weight: 400;
            list-style: none;
            padding: 10px 26px;
            position: relative;
            text-align: left;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            white-space: nowrap;

            &:active,
            &:hover,
            &:focus {
              outline: 0;
            }
            &:hover {
              color: black;
              font-weight: 700;
              background-color: rgba($main_purple, 0.2);
            }
          }
        }

        &:hover {
          & > a {
            &::after {
              width: 100%;
            }
          }
          ul.sub-menu {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      #menu-item-576 {
        ul.sub-menu {
          min-width: auto;
        }
      }
    }
  }
}
