$main_purple: #7030a0;

// Function to add opacity to a color
@function add-opacity($color, $opacity) {
  // Return the color with the specified opacity
  @return rgba($color, $opacity);
}

body,
html {
  @media screen and (max-width: 990px) {
    overflow-x: hidden;
  }
}

.en-lang {
  font-family: "copperplate-gothic", sans-serif !important; // Copperplate Gothic 폰트 적용
  padding-top: 2px;
}

body.page.hide-title {
  .hentry > h1 {
    display: none;
  }
}

body.bricks-is-frontend #brx-content :focus-visible {
  outline: none !important;
  border: 1px solid;
}

#brx-header {
  background-color: white;
}

body #brx-content {
  padding-top: 110px;
  background-color: white;

  @media screen and (max-width: 990px) {
    padding-top: 0px;
  }

  :lang(en) {
    font-family: "copperplate-gothic", sans-serif; // Copperplate Gothic 폰트 적용
  }

  // 한글 텍스트에 대한 스타일
  :lang(ko) {
    font-family: "malgun-gothic", sans-serif; // Malgun Gothic 폰트 적용
  }
  #wp-kboard_content-editor-container {
    :lang(en) {
      font-family: dashicons; // Copperplate Gothic 폰트 적용
    }

    // 한글 텍스트에 대한 스타일
    :lang(ko) {
      font-family: dashicons; // Malgun Gothic 폰트 적용
    }
  }

  .splide__pagination .splide__pagination__page {
    background-color: rgba(#d6d6d6, 0.6);
  }

  .splide__pagination .splide__pagination__page.is-active {
    background-color: white;
  }

  .loading-indicator {
    &.hidden {
      display: none !important;
    }

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    z-index: 9999999999999999;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
      transform: scale(3);

      .pswp__preloader__icn {
        opacity: 0.75;
        width: 14px;
        height: 14px;
        -webkit-animation: clockwise 500ms linear infinite;
        animation: clockwise 500ms linear infinite;
      }

      /* The idea of animating inner circle is based on Polymer loading indicator by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html */
      .pswp__preloader__cut {
        position: relative;
        width: 7px;
        height: 14px;
        overflow: hidden;

        position: absolute;
        top: 0;
        left: 0;
      }

      .pswp__preloader__donut--fake {
        box-sizing: border-box;

        width: 14px;
        height: 14px;

        border: 2px solid red;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;

        background: none;
        margin: 0;
      }

      .pswp__preloader__donut {
        box-sizing: border-box;

        width: 14px;
        height: 14px;

        border: 2px solid #fff;
        border-radius: 50%;
        border-left-color: transparent;
        border-bottom-color: transparent;

        position: absolute;
        top: 0;
        left: 0;

        position: absolute;
        top: 0;
        left: 0;

        background: none;
        margin: 0;

        -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1)
          infinite;
        animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
      }

      @-webkit-keyframes clockwise {
        0% {
          -webkit-transform: rotate(0deg);
        }

        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes clockwise {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      @-webkit-keyframes donut-rotate {
        0% {
          -webkit-transform: rotate(0);
        }

        50% {
          -webkit-transform: rotate(-140deg);
        }

        100% {
          -webkit-transform: rotate(0);
        }
      }

      @keyframes donut-rotate {
        0% {
          transform: rotate(0);
        }

        50% {
          transform: rotate(-140deg);
        }

        100% {
          transform: rotate(0);
        }
      }
    }
  }

  .text-little-up {
    display: block;
    margin-top: -2px;
  }
}

#my_account_form {
  #profile_image_preview,
  #profile_image_placeholder {
    margin: 0;
    padding: 0;
    width: calc(350px / 2);
    aspect-ratio: 1/1;
    height: auto;
    min-height: auto;
    margin-bottom: 10px;
    border: black 2px solid;
    border-radius: 50%;
    background-color: rgba(pink, 0.1);

    // padding-bottom: 20px;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  #profile_image_placeholder button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;

    padding-bottom: 12px;
  }
  .hidden {
    display: none !important;
  }
  #profile_image {
    margin: 0;
    padding: 0;
    border: none;
  }
  .postcode-search-button {
    font-size: 16px;
    background-color: #548235;
  }

  .profile_image_preview_container {
    position: relative;
    .remove_profile_image_btn {
      position: absolute;
      top: 8px;
      right: 8px;
      svg {
        fill: white;
      }
    }
  }

  input#profile_image {
    display: none;
  }
}

// 지원안내 대쉬
// ul.under-dashed {
//   list-style-type: none;
//   li:nth-child(n + 2) {
//     list-style-type: none;
//   }
//   li:nth-child(n + 2)::marker {
//     display: none !important;
//   }
// }
// ul.under-dashed > li:nth-child(n + 2) > .content {
//   margin-left: -14px;
//   @media screen and (min-width: 990px) {
//     padding-left: 0;
//   }
//   &::before {
//     content: "-";
//     color: #548235;
//     font-weight: bold;
//     display: inline-block;
//     width: 0.8em;
//   }
// }

@media screen and (max-width: 990px) {
  .brxe-container {
    max-width: 100%;
    width: 100%;
  }
}

#wp-admin-bar-my-account {
  display: none !important;
}

// header
body {
  #brx-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }
}

.purple {
  color: $main_purple !important;
}
