#brx-content {
  .row-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
  }
  .row-col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
  }

  input[type="file"] {
    line-height: 1.25 !important;
  }

  // uid는 안보이게
  .kboard-list-uid {
    display: none;
  }

  // 오션 갤러리
  .kboard-gallery-foreground,
  .kboard-gallery-username {
    display: none !important;
  }

  // 오션월드 한정
  #kboard-ocean-gallery-list {
    /* 'kboard-list' 컨테이너에 그리드 레이아웃 적용 */
    .kboard-list {
      display: grid;
      /* 그리드 디스플레이 활성화 */
      grid-template-columns: repeat(3, 1fr);
      /* 3개의 동일한 크기의 컬럼 생성 */
      gap: 60px;
      /* 그리드 항목 간 간격 설정 */

      margin-bottom: 80px;

      .kboard-gallery-item {
        display: block;
        width: 100%;
        padding: 0;

        a {
          display: flex;
          flex-direction: column-reverse;

          .kboard-gallery-thumbnail {
            position: relative;

            width: 100%;
            float: none;
            margin: 0;

            padding: 24px;
            background-color: rgba($main_purple, 0.2);

            .layer {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(white, 0.4);
              opacity: 0;
              transition: opacity 0.3s;
            }

            svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 60px;
              height: 60px;
              z-index: 10;
              opacity: 0;
              fill: black;
              transition: opacity 0.24s;
            }

            &:hover {
              .layer {
                opacity: 1;
              }
              svg {
                opacity: 1;
              }
            }
          }
          img {
            width: 100%;
            height: auto;
          }

          .kboard-gallery-title {
            float: none;
            height: auto;
            margin-bottom: 10px;
            font-weight: 700;

            &::before {
              content: "<";
            }
            &::after {
              content: ">";
            }
          }
        }
      }
    }

    /* 태블릿 화면 크기에 대한 반응형 디자인 */
    @media screen and (max-width: 768px) {
      .kboard-list {
        grid-template-columns: repeat(2, 1fr);
        /* 2개의 컬럼으로 변경 */
      }
    }

    /* 모바일 화면 크기에 대한 반응형 디자인 */
    @media screen and (max-width: 480px) {
      .kboard-list {
        grid-template-columns: 1fr;
        /* 1개의 컬럼으로 변경 */
      }
    }

    .kboard-control {
      margin-bottom: 40px;
    }
  }

  // 오션월드 에디터 한정
  #kboard-ocean-gallery-editor {
    .kboard-attr-row {
      border-bottom: none !important;
    }
  }

  // 좋아요, 인쇄 버튼 마진
  .kboard-document-action {
    padding-left: 6px;
    padding-top: 30px;
  }

  // 싫어요 버튼 삭제
  .kboard-button-unlike {
    display: none !important;
  }

  // editor 수정
  // 미디어 업로드 버튼 보이지 않도록 하기
  #wp-kboard_content-media-buttons {
    // display: none !important;
  }

  // tailwind에서 초기화 했던 스타일들을 되살린다
  #kboard-document {
    .content-view {
      ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
      }
      ol {
        display: block;
        list-style-type: decimal;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
      }

      h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
      }
      h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
      }
      h3 {
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
      }
      h4 {
        display: block;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
      }
      h5 {
        display: block;
        font-size: 0.83em;
        margin-top: 1.67em;
        margin-bottom: 1.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
      }
      h6 {
        display: block;
        font-size: 0.67em;
        margin-top: 2.33em;
        margin-bottom: 2.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
      }
    }
  }

  // editor에서 내용 필드 보이도록 하기
  #kboard-default-editor {
    .kboard-attr-row.kboard-attr-content.required .attr-name {
      display: block;
    }
  }

  #kboard-ocean-gallery-document {
    .kboard-img-container {
      position: relative;
      max-width: 600px;
      img {
        width: 100%;
      }

      .download-button {
        position: absolute;
        right: 20px;
        bottom: 30px;
        background-color: $main_purple; /* Green background */
        color: white; /* White text */
        padding: 10px 15px; /* Padding around text */
        text-align: center; /* Centered text */
        text-decoration: none; /* No underline for the text */
        display: inline-block; /* Fit the content */
        font-size: 16px; /* Text size */
        border-radius: 8px; /* Rounded corners */
        cursor: pointer; /* Cursor changes to pointer on hover */
        opacity: 0;
        transition: all 0.3s;

        &:hover {
          padding: 14px 18px;
          font-weight: 700;
          opacity: 1;
        }
      }

      &:hover {
        .download-button {
          opacity: 1;
        }
      }
    }

    .kboard-control {
      @media screen and (max-width: 990px) {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
      }
    }
  }

  .country-list-container {
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr); /* 5열 */
      grid-template-rows: repeat(
        3,
        auto
      ); /* 3행, 각 행의 높이는 내용에 따라 자동 조정 */
      gap: 24px; /* 열과 행 사이의 간격 */

      li {
        a {
          display: block;
          border-radius: 25px;
          border: 2px solid red;
          text-align: center;

          background-color: rgba(#ff66ff, 0.8); /* bg-purple-200 */
          color: black; /* text-purple-700 */
          /* custom-font: Define this based on your custom font settings */
          font-weight: 700; /* font-medium */
          font-size: 1.8rem; /* text-lg */
          padding: 1.8rem 3.2rem; /* px-8 and py-4 */
          border-radius: 1rem; /* rounded-2xl */
          border: 2px solid #c4b5fd; /* border-2 and border-purple-300 */
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */

          &:hover {
            background-color: rgba(#ff66ff, 1); /* bg-purple-300 */
            color: black; /* text-purple-800 */
            border: 2px solid #a78bfa; /* border-purple-400 */
          }

          @media screen and (max-width: 990px) {
            font-size: 1.2rem; /* text-lg */
            padding: 1.4rem 3rem; /* px-8 and py-4 */
          }
        }
      }
    }
  }

  #kboard-default-list .kboard-list table thead tr {
    border-bottom: 4px solid $main_purple;
  }

  .kboard-total-count {
    display: none !important;
  }

  select[name="kboard_list_sort"] {
    display: none !important;
  }

  .kboard-notice-board-container {
    .kboard-list-vote {
      display: none;
    }
  }

  // editor에서 통합검색 필드 보이지 않도록
  .kboard-attr-search {
    display: none;
  }

  .header-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .kboard-tree-category-search {
      float: none;
      min-width: 100px;

      .kboard-tree-category-wrap {
        min-width: 100px;
      }
    }

    .kboard-control {
      float: none;
      width: auto;
      padding-bottom: 0;
    }

    .kboard-category.category-mobile {
    }
  }

  .kboard-document-add-option-value-wrap {
    display: none;
  }

  // document의 공통 스타일
  #kboard-document {
    .kboard-title h1 {
      font-size: 18px;
      // font-weight: 300;
    }
    .content-view {
      font-size: 16px;
    }
    h1 {
      padding: 0;
      padding-bottom: 10px;
    }
    .kboard-detail {
      padding: 0;
      padding-bottom: 14px;
    }
    .content-view {
      padding: 0;
      img {
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 600px;
        display: block;
      }
    }

    .kboard-detail {
      background-color: white !important;
      border: none;

      @media screen and (max-width: 990px) {
        border-top: 1px solid #f5f5f5;
      }
    }
    .row {
      border-top: 1px solid rgba($main_purple, 0.1);
      &:last-child {
        border-bottom: 1px solid rgba($main_purple, 0.1);
      }

      @media screen and (max-width: 990px) {
        border-top: none;
        border-bottom: none;
      }
    }
    .detail-attr {
      padding: 0;

      .detail-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        padding: 10px;
        background-color: rgba($main_purple, 0.05);
        span {
          color: $main_purple;
        }
      }
      .detail-value {
        min-height: 100%;
        padding: 10px;
      }

      @media screen and (max-width: 990px) {
        border-right: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
      }
    }

    .kboard-attach-row {
      .detail-value {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
      }
    }
    .kboard-document-wrap {
      border-bottom: 1px solid rgba($main_purple, 0.1);
      margin-bottom: 10px;
    }
  }

  .comments-button-unlike {
    display: none !important;
  }

  #kboard-default-document .kboard-button-like,
  .comments-button-like {
    color: hotpink;
    font-weight: 700;
  }

  .kboard-search select {
    line-height: 20px;
    display: none !important;
  }

  // 공지사항 게시판
  #kboard-default-list.kboard-default-list--notice {
    .kboard-list-vote {
      display: none;
    }
  }

  // 공통사항: 에디터 테두리를 보라색으로 변경
  #kboard_content.editor-textarea {
    border: 2px solid $main_purple;
  }

  // search-form의 input크기를 조금 줄인다
  .kboard-search input {
    width: 120px !important;
    text-align: left;
  }

  .kboard-document-navi {
    a {
      display: flex;
    }
    .kboard-prev-document a {
      display: flex !important;
      justify-content: flex-start;
    }
    .kboard-next-document a {
      display: flex !important;
      justify-content: flex-end;
    }
  }

  // 에디터에서 attr field-name의 글자 크기를 키운다
  .kboard-attr-row {
    .field-name {
      font-size: 18px !important;
    }
  }

  // bricks pagination
  .bricks-pagination {
    ul.page-numbers {
      display: flex;
      justify-content: center;
      gap: 6px;
      @media screen and (max-width: 990px) {
        gap: 3px;
      }

      li {
        span,
        a {
          border: none !important;
          border-radius: 4px !important;
        }
        span {
          background-color: #000000;
          border: 1px solid #000000;
          border-radius: 4px;
          box-shadow: none;
          color: #ffffff;
          display: block;
          font-family: malgun-gothic, sans-serif;
          font-size: 14px;
          font-weight: inherit;
          height: 28px;
          line-height: 28px;
          list-style: none;
          margin: 0;
          outline: none;
          padding: 0 11px;
          tab-size: 4;
          text-align: center;
          text-decoration: none;
          text-underline-offset: 0;
          transition-duration: 0.3s;
        }
        a {
          list-style: none;
          text-decoration: none;
          outline: none;
          tab-size: 4;
          font-weight: inherit;
          text-underline-offset: 0;
          justify-items: center;
          align-items: center;
          font-family: malgun-gothic, sans-serif;
          box-shadow: none;
          background-color: #f9f9f9;
          border-style: initial;
          border-width: 0;
          color: #999;
          font-size: 14px;
          line-height: 28px;
          height: 28px;
          padding: 0 11px;
          margin: 0;
          display: block;
          transition-duration: 0.3s;

          &:hover {
            background-color: #eaeaea !important;
          }
        }

        .page-numbers {
          display: flex;
        }
        a.page-numbers {
          @media screen and (max-width: 990px) {
            display: none;
          }
          &.next,
          &.prev {
            @media screen and (max-width: 990px) {
              display: flex;
            }
          }
        }
      }
    }
  }

  .kboard-pagination {
    padding-top: 0;

    ul.kboard-pagination-pages {
      display: flex;
      justify-content: center;
      gap: 6px;

      li {
        a {
          border: none !important;
          border-radius: 4px !important;

          list-style: none;
          text-decoration: none;
          outline: none;
          tab-size: 4;
          font-weight: inherit;
          text-underline-offset: 0;
          justify-items: center;
          align-items: center;
          font-family: malgun-gothic, sans-serif;
          box-shadow: none;
          background-color: #f9f9f9;
          border-style: initial;
          border-width: 0;
          color: #999;
          font-size: 14px;
          line-height: 28px;
          height: 28px;
          padding: 0 11px;
          margin: 0;
          transition-duration: 0.3s;

          display: flex;
        }
        &.active a {
          background-color: #000000;
          border: 1px solid #000000;
          border-radius: 4px;
          box-shadow: none;
          color: #ffffff;
          display: block;
          font-family: malgun-gothic, sans-serif;
          font-size: 14px;
          font-weight: inherit;
          height: 28px;
          line-height: 28px;
          list-style: none;
          margin: 0;
          outline: none;
          padding: 0 11px;
          tab-size: 4;
          text-align: center;
          text-decoration: none;
          text-underline-offset: 0;
          transition-duration: 0.3s;
        }
      }
      .first-page {
        display: none !important;
      }
      .last-page {
        display: none !important;
      }
    }
  }

  // kboard 카테고리 필터 PC가리고 Mobile만 보여지도록
  #kboard-default-list {
    .kboard-category.category-pc {
      display: none !important;
    }
    .kboard-category.category-mobile {
      display: flex;
      min-width: 150px;
      padding: 0;

      select {
        margin: 0;
      }
    }
  }

  // 모든 버튼 디자인
  @mixin black-btn {
    background-color: black !important;
    color: white !important;
    font-weight: 700 !important;
    white-space: nowrap;
  }
  @mixin purple-btn {
    background-color: $main_purple !important;
    color: white !important;
    font-weight: 700 !important;
    white-space: nowrap;
  }
  @mixin red-btn {
    background-color: red !important;
    color: white !important;
    font-weight: 700 !important;
    white-space: nowrap;
  }
  @mixin green-btn {
    background-color: green !important;
    color: white !important;
    font-weight: 700 !important;
    white-space: nowrap;
  }
  @mixin gray-btn {
    background-color: gray !important;
    color: white !important;
    font-weight: 700 !important;
    white-space: nowrap;
  }
  @mixin normal-padding {
    padding: 4px 14px !important;
    line-height: 28px;
  }
  @mixin black-border {
    border-radius: 6px !important;
    border: 1px solid black !important;
  }

  // pagination
  .kboard-pagination-pages {
  }

  // 행사사진 오션갤러리 버튼
  .kboard-ocean-gallery-button-small {
    @include black-btn;
    @include normal-padding;
    @include black-border;
    height: auto;
    font-size: 14px !important;
  }

  // 글 등록
  .kboard-default-button-small--new {
    @include black-btn;
    @include normal-padding;
    @include black-border;
    height: auto;
  }

  // 검색
  .kboard-search .kboard-default-button-small {
    @include black-btn;
    @include normal-padding;
    @include black-border;
    height: auto;
  }

  // 삭제
  .kboard-default-button-small--delete {
    @include gray-btn;
    @include normal-padding;
    @include black-border;
    height: auto;
  }

  // 뒤로가기
  .kboard-default-button-small--back {
    @include black-btn;
    @include normal-padding;
    @include black-border;
    height: auto;
  }

  // 목록보기
  .kboard-default-button-small--list {
    @include black-btn;
    @include normal-padding;
    @include black-border;
    height: auto;
  }

  // 수정하기
  .kboard-default-button-small--edit {
    @include purple-btn;
    @include normal-padding;
    @include black-border;
    height: auto;
  }

  // 저장하기
  .kboard-default-button-small--save {
    @include purple-btn;
    @include normal-padding;
    @include black-border;
    height: auto;
  }

  // 답글쓰기
  .kboard-default-button-small--reply {
    display: none !important;
  }

  // 싫어요 버튼
  .kboard-button-unlike {
    display: none !important;
  }

  // 댓글 sorting 제거
  select[name="kboard_comments_sort"] {
    display: none !important;
  }

  // 인쇄
  .kboard-button-print {
    @include black-btn;
    @include normal-padding;
    @include black-border;
    height: auto;

    @media screen and (max-width: 990px) {
      display: none !important;
    }
  }

  // 댓글 입력 버튼
  .comments-submit-button input {
    @include black-btn;
    @include normal-padding;
    @include black-border;
    font-size: 13px;
    font-weight: 700;
    height: auto;
  }

  // 댓글에서 첨부파일 이미지 삭제
  .comments-field.field-image1,
  .comments-field.field-file1 {
    display: none !important;
  }

  // kboard header
  .header-below {
    margin-bottom: 30px;
  }

  // 글 작성 페이지에서 카테고리는 처음에 안보이게 하고, 나중에 js로 보이도록 한다.
  #kboard-tree-category-1 {
    opacity: 0;
  }

  // table 헤더쪽 가로 길이좀 늘리자
  #kboard-default-list {
    .kboard-list table {
      td.kboard-list-user,
      td.kboard-list-date,
      td.kboard-list-vote,
      td.kboard-list-view,
      td.kboard-list-group,
      td.kboard-list-city {
        width: 100px;
      }
      td.kboard-list-city {
        width: 150px;
      }

      @media screen and (max-width: 990px) {
        td.kboard-list-group {
          display: none;
        }
      }
    }

    &.kboard-default-list--notice .kboard-list table {
      td.kboard-list-user,
      td.kboard-list-date,
      td.kboard-list-vote,
      td.kboard-list-view {
        width: 150px;
      }
    }
  }

  // table 헤더 글자 크기 키우기
  #kboard-default-list {
    .kboard-list table thead tr td {
      font-size: 18px;
    }
  }

  // KBoard의 크기를 좀 줄인다
  #kboard-default-list {
    max-width: 1000px;
  }

  // 페이지네이션과의 간격 조절
  #kboard-default-list .kboard-list {
    margin-bottom: 100px;
  }

  // 제목, 식당, 쇼핑몰 .. 중앙 정렬
  .kboard-default-cut-strings {
    // text-align: center;
  }

  // 공지사항만 왼쪽 정렬
  #kboard-default-list.kboard-default-list--notice {
    .kboard-default-cut-strings {
      text-align: left;
    }
  }

  .kboard-pagination {
    margin-bottom: 20px;

    a {
      border-radius: 4px !important;
      border: 1px solid black !important;
    }
  }

  #my_account_form {
    select {
      border-style: solid;
      border-width: 1px;
      box-shadow: none;
      color: currentcolor;
      font-size: inherit;
      line-height: 40px;
      outline: none;
      padding: 0 12px;
      transition: var(--bricks-transition);
      width: 80px;
    }

    #mobile_phone_1,
    #mobile_phone_2,
    #mobile_phone_3 {
      text-align: center;
    }
  }

  // 모바일
  @media screen and (max-width: 990px) {
    .kboard-search {
      & > form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
      }
    }

    .row-col-3 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0px;
    }
    .row-col-4 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0px;
    }
    .kboard-default-cut-strings {
      white-space: wrap;
    }

    .country-list-container {
      ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    #kboard-default-list {
      .kboard-list table {
        td.kboard-list-user,
        td.kboard-list-date,
        td.kboard-list-vote,
        td.kboard-list-view,
        td.kboard-list-group,
        td.kboard-list-city {
          width: 100px;
        }
      }

      &.kboard-default-list--notice .kboard-list table {
        td.kboard-list-user,
        td.kboard-list-date,
        td.kboard-list-vote,
        td.kboard-list-view {
          width: 80px;
        }
      }
    }

    #kboard-document .content-view img {
      max-width: 100%;
    }
  }
}
