.mobile-navigation {
	.site-mobile-logo-container {
		img {
			max-width: 180px;
		}
	}
	.mobile-menu-open-trigger {
		.burger-icon {
			letter-spacing: 0;
			font-weight: 400;
			font-family: Gordita;
			line-height: 32px;
			font-size: 20px;
			cursor: pointer;
			position: relative;
			width: 24px;
			height: 20px;
			color: #ae152d;

			display: flex;
			flex-direction: column;
			gap: 4px;

			justify-content: center;

			& > span {
				background-color: #ae152d;
			}

			.burger-icon-top {
				transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
				letter-spacing: 0;
				font-weight: 400;
				font-family: Gordita;
				line-height: 32px;
				font-size: 20px;
				cursor: pointer;
				display: block;
				width: 100%;
				height: 2px;
				transform: translateZ(0);
			}
			.burger-icon-middle {
				transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
				letter-spacing: 0;
				font-weight: 400;
				font-family: Gordita;
				line-height: 32px;
				font-size: 20px;
				cursor: pointer;
				display: block;
				width: 100%;
				height: 2px;
				transform: translateZ(0);
			}
			.burger-icon-bottom {
				transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
				font-family: Gordita;
				font-weight: 400;
				letter-spacing: 0;
				font-size: 20px;
				line-height: 32px;
				cursor: pointer;
				display: block;
				width: 100%;
				height: 2px;
				transform: translateZ(0);
			}
		}
	}
	.mobile-menu-container {
		display: none;
	}
}

#page {
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.offcanvas-nav-container {
	visibility: hidden;
	transform: translateX(100%);

	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;

	z-index: 9999;

	display: flex;
	justify-content: flex-end;

	a {
		display: block;
	}

	.offcanvas-inner {
		height: 100%;
		width: 350px;
		z-index: 999999999999999999;
		background-color: rgba(0, 0, 0, 0.7);

		.offcanvas-nav-header {
			background-color: white;

			.offcanvas-logo {
				img {
					max-height: 60px;
					max-width: 100%;
					text-align: left;
					cursor: default;
				}
			}
			padding-left: 5vw;
			padding-right: 5vw;
		}
		.offcanvas-menu-container {
			.menu {
				& > li.menu-item {
					& > a {
						transition: all 0.25s
							cubic-bezier(0.645, 0.045, 0.355, 1);
						cursor: default;
						text-align: left;
						visibility: visible;
						position: relative;
						display: block;
						border-right-style: initial;
						border-bottom-style: initial;
						border-left-style: initial;
						padding: 19px 0;
						font-weight: 500;
						line-height: 1.5;
						font-size: 14px;
						color: #fff;
						border-width: 1px 0 0;
						border-top-style: solid;
						border-color: rgba(255, 255, 255, 0.15);
					}

					&.has-sub-menu {
						& > a {
							display: flex;
							justify-content: space-between;
							align-items: center;
							color: #fff;
							font-size: 14px;
							line-height: 1.5;
							font-weight: 500;
							padding: 14px 0;

							.toggle-sub-menu {
								padding: 5px;
							}
						}
						.sub-menu {
							display: none;
						}
					}
				}
				padding-left: 5vw;
				padding-right: 5vw;
				.sub-menu {
					li {
						a {
							transition: all 0.25s
								cubic-bezier(0.645, 0.045, 0.355, 1);
							text-align: left;
							padding: 10px 0;
							line-height: 1.5;
							font-weight: 500;
							font-size: 13px;
							color: rgba(255, 255, 255, 0.7);
						}
					}
				}
				.menu-item:nth-child(1) {
					a {
						border-top: none;
					}
				}
			}
		}
	}
}

.dimmed-layer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body.mobile-menu-opened {
	overflow: hidden;
	#page {
		transform: translateX(-350px);
	}

	.offcanvas-nav-container {
		visibility: visible;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
		transform: translateX(0);
	}

	.dimmed-layer {
		opacity: 1;
		z-index: 999;
		visibility: visible;
	}
}
